<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40">
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-list *ngIf="dish">
      <mat-list-header>
        <mat-list-title>
          <h2>Comments</h2>
        </mat-list-title>
      </mat-list-header>

      <mat-list-item *ngFor="let comment of dish.comments">
        <h4 matLine>{{ comment.comment }}</h4>
        <p matLine>{{ comment.rating }} Stars</p>
        <p matLine>
          <span> -- {{ comment.author }} {{ comment.date | date }} </span>
        </p>
      </mat-list-item>

      <mat-list-item *ngIf="commentForm.status == 'VALID'">
        <h4 matLine>{{ commentForm.value.comment }}</h4>
        <p matLine>{{ commentForm.value.rating }} Stars</p>
        <p matLine>
          <span> -- {{ commentForm.value.author }} </span>
        </p>
      </mat-list-item>
    </mat-list>

    <div feFlex class="form-size" *ngIf="dish">
      <form
        novalidate
        [formGroup]="commentForm"
        ##fform="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <p>
          <mat-form-field class="full-width">
            <input
              matInput
              formControlName="author"
              placeholder="Name"
              type="text"
              required
            />
            <mat-error *ngIf="formErrors.author">{{
              formErrors.author
            }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-slider
            thumbLabel
            formControlName="rating"
            tickInterval="1"
            min="1"
            max="5"
            step="1"
            value="5"
          ></mat-slider>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea
              matInput
              formControlName="comment"
              placeholder="Your Comment"
              rows="5"
              required
            ></textarea>
            <mat-error *ngIf="formErrors.comment">{{
              formErrors.comment
            }}</mat-error>
          </mat-form-field>
        </p>
        <button
          type="submit"
          mat-button
          [disabled]="!commentForm.valid"
          class="background-primary text-floral-white"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
</div>
